<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="cz.kotox.core.webview">

	<application>

		<activity
			android:name=".ui.WebViewActivity"
			android:label=" "
			android:screenOrientation="${screenOrientation}">
		</activity>

	</application>

</manifest>

